<mat-drawer-container class="example-container" style="background-color: white;">
  <mat-drawer class="example-sidenav" mode="side" opened>
    
    <div class="button-space">
      <button  class="button" color="primary" routerLink="/estoque" mat-raised-button>
        Gerenciar Estoque <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="bar_chart"></mat-icon>
      </button>
    </div>
    <div class="button-space" >
      <button class="button" color="primary" routerLink="/userlist" mat-raised-button>
        Gerenciar Usuários <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="group"></mat-icon>
      </button>
    </div>
    <div class="button-space" >
      <button class="button" color="primary" routerLink="/userlist" mat-raised-button>
        Configurações <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="settings"></mat-icon>
      </button>
    </div>
    <div class="button-space" >
      <button class="button" color="primary" routerLink="/register" mat-raised-button>
        Registrar <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="account_circle"></mat-icon>
      </button>
    </div>
    <div class="button-space" >
      <button class="button" color="warn" routerLink="/login" mat-raised-button>
        Logout <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="power_settings_new"></mat-icon>
      </button>
    </div>

    
    <mat-divider></mat-divider>

  
  </mat-drawer>

  
  <div class="example-sidenav-content" >
    
    
  </div>

</mat-drawer-container>